/*
div {
   padding: 0px;
    margin-bottom: 10px; 
   border: 5px;
}

#play-button {
  width: 10%;
  margin: 0 auto;
}

.left {
  border-right: 1px solid #333;
}

#pbut {
  margin: 35px;
}

#logo {
  height: auto;
  width: auto;
  max-height: 200px;
}*/

/*styling for gestures*/

  

  .highlight {
    border: 5px red solid !important;
  }

  #slide {
    background-color:white;
    float: left;
    width: 100%;
    height: 100%;
  }

  .grid .card {
    width: 120px;
    height: 120px;
    float: left;
    border: 5px black solid;
    position: relative;
  }

  .grid .card .cover, .grid .card .picture {
    position: absolute;
    top: 0;
    left: 0;
  }

  .grid img{
    width: 100%;
  }

  /*#right-col, #left-col {
    border: 2px blue solid;
  }  */

  /*.displayBlur{
    filter: blur(10px);
  }*/

  /*.displayBird{
    background-image: url("./images/bird.png");
  }*/
  
  /*.blurOff{
    filter: none;
  }*/

  .birdOff img{
    display: none;
  }

/*
  gestures*/